.single {
    padding: 15px 16px;
    background-color: #fff;
    display:block;
    margin: 10px 10px;
    border-left: 8px solid #fff;
    transition: 0.5s;
}

.single:hover {
    border-left: 8px solid #49ffe1;
}